@import 'reset.css';
@import 'variables/global-vars';
@import 'themes/light_theme';
@import 'themes/dark_theme';

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;

    //  color
    color: var(--text-color);

    //  bg
    background-color: var(--bg);
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--card);
    border-radius: 20px;
}
