.titleWrapper {
    width: 80%;
    position: relative;

    .ColumnTitle {
        cursor: pointer;
        padding: 5px;
    }

    .titleTextArea {
        display: none;
        position: absolute;
        font-size: 1em;
        height: 27px;
        padding: 3px 5px;
        left: 0;
        top: 0;
        font-weight: 400;
    }

    .editable ~ textarea {
        display: block;
    }

    .editable ~ p {
        display: none;
    }
}
