// Main classes
.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    padding: 8px 12px;
    white-space: nowrap;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;

    &:hover {
        transform: scale(0.98);
    }
}

// Mods
.border6 {
    border-radius: 6px;
}

.border12 {
    border-radius: 12px;
}

.border16 {
    border-radius: 16px;
}

.border24 {
    border-radius: 24px;
}

.fullWidth {
    width: 100%;
}

.m {
    height: 35px;
}

.l {
    height: 42px;
}

// Variants

.DefaultButton {
    background-color: var(--add-button);
    min-width: 135px;
}

.IconButton {
    background-color: var(--second-color);
    aspect-ratio: 1 / 1;

    svg {
        transform: translateX(-1px);
    }

    &:hover {
        background-color: var(--input-active-color);
    }
}

.LeftAddonCreateButton {
    background-color: transparent;
    justify-content: start;
    min-width: 200px;
    padding: 0;
    font-size: 1.1em;

    svg {
        margin-right: 15px;

        path {
            transition: all 0.3s ease;
        }
    }

    &:hover {
        svg path {
            fill: var(--second-color);
        }
    }
}

.LeftAddonAddButton {
    background-color: var(--add-button);
    justify-content: start;

    svg {
        margin-right: 6px;
    }
}
