.Button {
    display: flex;
    border-radius: 6px;
    width: 120px;
    height: 32px;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
    padding: 8px 10px;
    white-space: nowrap;

    &:hover {
        transform: scale(0.98);
    }
}

.deleteButton {
    background-color: var(--delete-button);
}

.addButton {
    background-color: var(--add-button);
    justify-content: start;

    svg {
        margin-right: 6px;
    }
}

.hideButton {
    background-color: var(--second-color);
    border-radius: 12px;
    width: 42px;
    height: 42px;

    svg {
        transform: translateX(-1px);
    }

    &:hover {
        background-color: var(--input-active-color);
    }
}

.createButton {
    background-color: transparent;
    justify-content: start;
    min-width: 200px;
    padding: 0;
    font-size: 1.1em;

    svg {
        margin-right: 15px;

        path {
            transition: all 0.3s ease;
        }
    }

    &:hover {
        svg path {
            fill: var(--second-color);
        }
    }
}

.fullWidth {
    width: 100%;
}
