.Column {
    border-radius: 12px;
    width: 260px;
    min-height: 10px;
    background-color: var(--second-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px 0;
    transition: background-color 0.2s ease;
}

.isDropping {
    background-color: var(--input-active-color);
}

.isDragging {
    opacity: 0.4;

    div {
        opacity: 0;
    }
}
