.Column {
    border-radius: 12px;
    width: 260px;
    min-height: 10px;
    max-height: 86vh;
    background-color: var(--second-color);
    padding: 15px 20px 20px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s ease;

    .upperLine {
        margin-bottom: 15px;
    }
}

.isDropping {
    background-color: var(--input-active-color);
}

.isDragging {
    opacity: 0.7;
}

.CardsContainer {
    div {
        margin-bottom: 12px;
        margin-right: 5px;
    }

    min-height: 1px;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}
