.dark {
    --bg: #1d1d1d;
    --aside-bg: #222;
    --second-color: #2e2e2e;

    // card
    --card: #3d3d3d;

    // input
    --input-active-color: #343434;

    // skeleton
    // --skeleton-color: #fff;
    // --skeleton-shadow: rgba(0 0 0 / 20%);

    // text-color
    --text-color: #fff;
    --text-color-hover: #b2b2b2;
    --search-placeholder-color: #5c5c5c;

    // buttons
    --delete-button: #3d3d3d;
    --add-button: #313131;

    // modal
    --modal-bg: #1d1d1d54;

    // switcher
    --switch-button: #414141;
    --switch-text: #545454;
}
