.dark {
  --bg: #1D1D1D;
  --aside-bg: #222222;
  --second-color: #2E2E2E;

  // card
  --card: #3D3D3D;

  // skeleton
  //--skeleton-color: #fff;
  //--skeleton-shadow: rgba(0 0 0 / 20%);

  // text-color
  --text-color: #fff;
  --text-color-hover: #b2b2b2;

  --search-text: #5C5C5C;

  // buttons
  --delete_add-button: #3D3D3D;
}