.light {
    --bg: #f0f0f0;
    --aside-bg: #fff;
    --second-color: #f4f4f4;

    // card
    --card: #fff;

    // input
    --input-active-color: #ececec;

    // skeleton
    // --skeleton-color: #fff;
    // --skeleton-shadow: rgba(0 0 0 / 20%);

    // text-color
    --text-color: #121212;
    --text-color-hover: #727272;
    --search-placeholder-color: #5c5c5c;

    // buttons
    --delete-button: #ececec;
    --add-button: #efefef;

    // modal
    --modal-bg: #d2d2d273;
}
