.light {
  --bg: #F0F0F0;
  --aside-bg: #FFFFFF;
  --second-color: #F4F4F4;

  // card
  --card: #FFFFFF;

  // skeleton
  //--skeleton-color: #fff;
  //--skeleton-shadow: rgba(0 0 0 / 20%);

  // text-color
  --text-color: #121212;
  --text-color-hover: #727272;

  --search-text: #5C5C5C;

  // buttons
  --delete_add-button: #F5F5F5;
}