.light {
    --bg: #e5e5e5;
    --aside-bg: #fff;
    --second-color: #eee;

    // card
    --card: #fff;

    // input
    --input-active-color: #ececec;

    // skeleton
    // --skeleton-color: #fff;
    // --skeleton-shadow: rgba(0 0 0 / 20%);

    // text-color
    --text-color: #121212;
    --text-color-hover: #727272;
    --search-placeholder-color: #5c5c5c;

    // buttons
    --delete-button: #ececec;
    --add-button: #fff;

    // modal
    --modal-bg: #d2d2d273;

    // switcher
    --switch-button: #e0e0e0;
    --switch-text: #5c5c5c;
}
