.Input {
    background-color: var(--second-color);
    padding: 0 14px;
    color: var(--text-color);
    font-size: 1em;
    font-weight: 300;
    transition: background-color 0.3s ease;
    border-radius: 12px;
    width: 280px;
    height: 42px;

    &::placeholder {
        color: var(--search-placeholder-color);
        font-weight: 500;
        font-size: 1.1rem;
    }

    &:focus {
        background-color: var(--input-active-color);
    }

    &:hover {
        background-color: var(--input-active-color);
    }
}

.options {
    --anchor-gap: 12px;

    width: 280px;
    background-color: var(--second-color);
    border-radius: 12px;
    color: var(--text-color);

    .option {
        padding: 12px 14px;
        border-radius: 12px;

        &:first-child {
            margin-top: 5px;
        }

        &:last-child {
            margin-bottom: 5px;
        }

        &:hover {
            background-color: var(--card);
        }
    }
}
