.AddNewBoardForm {
    .newBoardText {
        font-size: 1.1em;
        font-weight: 600;
    }

    .newBoardInput {
        width: 500px;
        border-radius: 6px;

        &::placeholder {
            font-size: 0.9em;
        }
    }

    .newBoardAddButton {
        min-width: 457px;
    }
}
