.BoardName {
    display: flex;
    align-items: center;
    gap: 0 15px;
    cursor: pointer;
    margin-bottom: 25px;
}

.boardBox {
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

.boardText {
    max-width: 195px;
    font-size: 1.2em;
    white-space: nowrap;
}
